.box {
  border: 1px solid black;
  width: 40%;
  text-align: center;
}
.item-img {
  width: 80%;
  height: 400px;
  object-fit: contain;
}
.main {
  display: flex;
  justify-content: center;
}
h3 {
  text-align: center;
  margin: 50px 0px !important;
}
.wrap {
  text-align: center;
}
.win {
  border: 10px solid green;
  color: green;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid black;
  color: black;
}
.w50 {
  width: 50px;
  height: 50px;
  margin: 20px;
}
